# macOS 系统文件
.DS_Store
.AppleDouble
.LSOverride

# 缓存、临时文件
*.swp
*.lock
*.tmp
*.bak

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
*.xcworkspacedata

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Xcode 自动生成的 schemes 配置文件
xcshareddata/WorkspaceSettings.xcsettings

# Xcode Archive 文件
*.xcarchive

# 日志文件
*.log

# Info.plist 

# 个人用户配置文件
xcuserdata/

# 其他常见隐藏文件和系统文件
*.swp
*.swo
*.DS_Store